.imgset{
    display: flex;
    max-height: 300px;
    max-width: 500px;
}

.carousel-item{
    max-width: 100%;
    max-height: 500PX;
}

.container2{
    background-color: rgba(255,254,242,255);
    padding: 2rem;
   
}

.carousel-control-next-icon,.carousel-control-prev-icon{
    background-color: black;
    padding: 2rem;
    
}


